@import "~@/assets/styles/vars/index.styl";
@import '~vuetify/src/stylus/settings/_variables.styl';
@import '~vuetify/src/stylus/generic/_transitions.styl';

@import '~@/assets/styles/base/fonts.styl';
@import '~@/assets/styles/base/normalize.styl';

@import '~@/assets/styles/base/main.styl';
@import '~@/assets/styles/base/header.styl';
@import '~@/assets/styles/base/footer.styl';
