@require "vars/index.styl";
@require '~vuetify/src/stylus/settings/_variables.styl';
@require '~vuetify/src/stylus/generic/_transitions.styl';
@require '~vuetify/src/stylus/app.styl'

@require 'base/fonts.styl';
@require 'base/normalize.styl';

@require 'base/main.styl';
@require 'base/header.styl';
@require 'base/footer.styl';
